<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".presentation.home.LaunchActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="edit.graph.org" />
                <data android:host="edit.telegra.ph" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.home.HomeActivity"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".presentation.settings.AccountSettingsActivity" />
        <activity android:name=".presentation.settings.AboutActivity" />
        <activity android:name=".presentation.page.PageActivity" />
        <activity android:name=".presentation.settings.PrivacyPolicyActivity" />
        <activity android:name=".presentation.settings.ProxyServerActivity" />

    </application>

</manifest>
