<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telex.base">

    <application>

        <activity
            android:name="com.telex.base.presentation.home.UpgradeToProActivity"
            android:theme="@style/AppTheme.Transparent" />

    </application>

</manifest>
